@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Lexend+Mega&family=Space+Mono:ital,wght@0,700;1,400&display=swap');





/* DECLARING VARIABLES */
:root{
    --borderOutline: 1.3px;
    --borderOutlineCockpit: calc(1.5*var(--borderOutline));
    --roundedCornerBorderOutline:1.1px;
    --borderOutlineRooms: 5px;
    --borderOutlineRamp: 5px;
    --backgroundColor: rgb(9,2,64);
    --transparentBlue: rgba(78,198,224,0);

    /* COLOURS */
    --orange:#f6892f;
    --red:#db3e2d;
    --beige:#e3e1d4;
    --cyan:#6dcde4;
    --darkerCyan:#00aeef;
    --indigo:#052f45;
    --grey:#3e5960;
    --white:white;
}

/* BROWSER PROPERTIES RESET */
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:rgb(9, 2, 64);
    color: black;
    text-align: center;
    font-size: 14px;
    padding-top:1.6vw;
    font-family: 'IBM Plex Mono', 'Space Mono', 'Courier New', Courier, monospace;  
}



/* remove the black border that shows up when clicking the button */
button{
    outline:none;
    font-family: 'IBM Plex Mono', 'Space Mono', 'Courier New', Courier, monospace;
}

/* BIG CONTAINER TO CROP THE VIEWPORT SO THAT IT SHOWS ONLY A CERTAIN PART OF THE WEBSITE */
.bigContainer{
    width:110vw;
    height:200vh;
    overflow-x: hidden;
    overflow-y: hidden;
}


/* BIG PARENT FOR FLEXBOXES */
.sittingVertical{
    /* background-color: green; */
    display:flex;
        flex-direction: column; /*column=y-axis , row=x-axis */
        align-items: center;  /*applies to the cross-axis (the axis crossing the main axis)*/
        justify-content: center; /*applies to the main-axis */
    width: 500vw;
    height: 200vw;
} 

#sittingVerticalBottom{
    height:140vw; 
    transition: ease-in 1s;
}

.sittingHorizontal{
    /* background-color: rgb(52, 25, 6); */
    display:flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-evenly;
    width: 500vw;
    height: 45vw;
}

/* //////////////////////////////////////////
///////////////// RAMP /////////////////
 */
#ramp{
    /* background-color: darkcyan; */
    flex:2;
    width:10%;
    position:relative;
    z-index:1;   
}

/*////// RAMP - TOP PART */
#rampTop{
    /* background-color: purple; */
    width: 100%;
    height: 32.546%;
    /* height: 28.546%; */
    overflow:hidden;
    position:absolute;
        top:0;
        left:0;
    z-index: 2;
    transition: ease-in 0.5s;
}

#rampTop.closeRampTop{
    top: -32.5%;
}


/* blue floor */
#rampTopFloor{
    background-color: var(--indigo);
    border: var(--borderOutlineRamp) solid var(--grey);
    border-top:none;
    border-bottom:none;
    width:100%;
    height:85.3411%;
    position:absolute;
        top:0;
        left:0;
}

.rampTopFloorTiles{
    background-color: var(--grey);
    width:89.567%;
    height: 50.6013%;
    position:absolute;
        bottom: 5.0968%;
        left: 5.0968%;
    border-radius:2vw;
}

#rampTopFloorTilesTop{
    bottom: calc(5.0968% + 50.6013% + 5.0968%);
}

/* orange link part */
#rampTopLink{
    background-color: var(--orange);
    width:100%;
    height:14.6589%;
    position:absolute;
        left:0;
        bottom:0;
}

#rampTopLinkMask{  
    border-bottom:5vw solid var(--indigo);
    border-left:1.5vw solid transparent;
    border-right:1.5vw solid transparent;
    width:37.213%;
    /* height:58.2544%; */
    position:absolute;
        bottom:0;
        left:31.3952%;
}

/*////// RAMP - BOTTOM PART */
#rampBottom{
    background-color: var(--grey);
    border: var(--borderOutlineRamp) solid var(--indigo);
    border-top:none;
    width:95.9644%;
    height:57.4544%;
    position:absolute;
        bottom:15%;
        left: calc((100% - 95.9644%)/2);
        z-index:1;
    transition: ease-in 1.5s;
}


/* ////////// CLOSE THE RAMP ANIMATION */
#rampBottom.closeRampBottom{
    bottom:70%;
}

#rampBottomFloor{
    background-color: var(--indigo);
    width: 87.73379%;
    height:calc(100% - ((100% - 87.73379%)/2));
    position:absolute;
        top:0;
        left: calc((100% - 87.73379%)/2);
}

/* ramp floor pattern whole container */
.rampBottomFloorPattern{
    /* background-color: white; */
    width:100%;
    height:6.06471%;
    position: absolute;
        top:20%;
        /* top: calc((51.8032%/1767.6365%)*100); */
        left:0;
}


#rampBottomFloorPattern2{
    top:40%;
    /* top: 17.789%; */
}

#rampBottomFloorPattern3{
    top:60%;
    /* top: 32.641%; */
}

#rampBottomFloorPattern4{
    top: 80%;
    /* top: 47.497%; */
}



/* ramp floor pattern module */
.rampBottomFloorPatternSide{
    background-color: var(--grey);
    height:29.883%;
    width:100%;
    position:absolute;
        bottom:0;
        left:0;
}


.rampBottomFloorPatternCenter{
    background-color: var(--grey);
    height:100%;
    width:69.0107%;
    position:absolute;
        bottom:0;
        left:15.024%;
    transform: perspective(400px) rotateX(20deg);
}

.rampBottomFloorPatternCenterMask{
    background-color: var(--indigo);
    height:73.5353%;
    width:61.5047%;
    position:absolute;
        bottom:-2%;
        left:18.77189%;
    transform: perspective(400px) rotateX(20deg);
}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////// HALLWAYS /////////////////////////////////////////////////////////////////////////////////////////////////////
 */

 /* /////////HALLWAY VERTICAL/////////// */
.hallwayVertical{
    background-color:rgb(177, 227, 247);
    /* background-image: url();
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; */
    /* width:10%; */
    width: 37vw;
    flex: 2;
}


/* ///////////HALLWAY HORIZONTAL////////////// */
.hallwayHorizontal{
    border: var(--borderOutlineRooms) solid black;
    overflow: hidden;
    background-color: transparent;
    height: 37vw;
    flex: 3;  /*  Flex ratios for children occupying the parent div. How much space does each children occupy in the main-axis*/ 
    display:flex;
    flex-direction: row;
    position:relative;
    z-index:-1;
}



.hallwayHorizontalModule{
    height:100%;
    width:30%;
    position:relative;

}

.module1{
    /* background-color: var(--indigo); */
     flex:1; 
}

.module2{
    /* background-color: var(--indigo); */
    flex:1;
}

.module3{
    /* background-color: var(--indigo); */
    flex:1;
}



/* ////HALLWAY HORIZONTAL - LITTLE CEILING ON THE TOP */
.hallwayHorizontalCeiling{
    background-color:var(--indigo);
    height:10.255%;
    width: 100%;
    position:absolute;
    left:0px;
    top:0px;
}

/*////HALLWAY HORIZONTAL - WINDOW */
.hallwayHorizontalWindowContainer{
    background-color: transparent;
    height:65.755%;
    width:100%;
    position:absolute;
    left:0px;
    top:3.489%;
}

/* HALLWAY HORIZONTAL - WINDOW - TOP */
.hallwayHorizontalWindowTopContainer{
    background-color: transparent;
    height:15.8099%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 1;
}

.hallwayHorizontalWindowSquare{
    background-color: var(--orange);
    border-bottom: var(--borderOutline) solid black;
    border-top: var(--borderOutline) solid black;
    height:72.886%;
    width:16.298%;
    position:absolute;
    z-index:3;
}

.squareLeft{
    left:0px;
    top:0px;
    border-right: var(--borderOutline) solid black;
}

.squareRight{
    right:0px;
    top:0px;
    border-left: var(--borderOutline) solid black;
}


.hallwayHorizontalWindowBeam{
    background-color: var(--orange);
    border: var(--borderOutline) solid black;
    height:57.0657%;
    width:100%;
    position:absolute;
    left:0px;
    top: 8.09337%;
    z-index:2;
}

.hallwayHorizontalWindowBeamLight{
    background-color: var(--cyan);
    border: var(--borderOutline)  solid var(--darkerCyan);
    box-shadow: 0px 0px 9px 2px #8bd4e2;
    height:70.4398%;
    width:40.9743%;
    position:absolute;
    left:29.5133%;
    bottom:64.7801%;
    z-index:2;
    /* skew the rectangle into a trapezoid */
    transform: perspective(70px) rotateX(-20deg);
}

.hallwayHorizontalWindowBeamStrip{
    background-color: var(--beige);
    border-top: var(--borderOutline) solid black;
    border-bottom: var(--borderOutline) solid black;
    height:35.4276%;
    width:100%;
    position:absolute;
    left:0px;
    top: calc(64.7930% - 1.6px);
    z-index:2;
}

/* HALLWAY HORIZONTAL - WINDOW STRIP LIGHT */
.hallwayHorizontalWindowStripLight{
    background-color: var(--cyan);
    border-top:var(--borderOutline) solid var(--darkerCyan); 
    border-bottom:var(--borderOutline) solid var(--darkerCyan); 
    
    /* box-shadow values: offset-x, offset-y, blur, spread */
    box-shadow: 0px 0px 20px 8px #8bd4e2;
    height:1%;
    width:100%;
    position:absolute;
    left:0px;
    top: 11.5%;
    /* top:12.9325%; */
    z-index:3;    
}



/* HALLWAY HORIZONTAL - WINDOW - BOTTOM/SILL */
.hallwayHorizontalWindowBottom{
    background-color: var(--beige);
    border-top: var(--borderOutline) solid black;
    border-bottom: var(--borderOutline) solid black;
    height:23.367%;
    width:100%;
    position:absolute;
    left:0px;
    top: 77.7848%;
    z-index:1;
}

.hallwayHorizontalWindowBottomMask{
    /* background-color: var(--indigo); */
    background-color: var(--backgroundColor);
    border-top: 1px solid var(--backgroundColor);
    border-left: var(--borderOutline) solid black;
    border-right: var(--borderOutline) solid black;
    border-bottom: var(--borderOutline) solid black;
    height:33.6856%;
    width:59.3746%;
    position:absolute;
    left:20.3136%;
    top:calc(0px - var(--borderOutline));
    /* skew the rectangle into a trapezoid */
    transform: perspective(70px) rotateX(-20deg);
}



/*//// HALLWAY HORIZONTAL - FLOOR */
.hallwayHorizontalFloorContainer{
    background-color:transparent;
    /* border: var(--borderOutline) solid black; */
    height:30.756%;
    width:100%;
    position:absolute;
    left:0px;
    top:69.1618%;
}


.hallwayHorizontalFloorStrip{
    background-color:var(--orange);
    border-top: var(--borderOutline) solid black;
    border-bottom: var(--borderOutline) solid black;
    height:20.2546%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
}

.hallwayHorizontalFloorStripTop{
    background-color:var(--red);
    border-top: var(--borderOutline) solid black;
    border-bottom: var(--borderOutline) solid black;
    height:26.6057%;
    width:100%;
    position:absolute;
    left:0px;
    top:0px;
}

.hallwayHorizontalFloor{
    background-color:var(--indigo);
    height:79.7453%;
    width:100%;
    position:absolute;
    left:0px;
    top:20.2546%;
}

.hallwayHorizontalFloorTiles{
    background-color:var(--grey);
    /* rounded corner outlines using box shadow */
    /* box-shadow: 0 0 0 var(--roundedCornerBorderOutline)  black; */
    height:73.551%;
    width:23.2916%;
    position:absolute;
    bottom:13.225%;
}

.floorTilesLeft{
    left:0px;
    border-radius: 0px 10px 10px 0px;
    /* border radius values (top-left, top-right, bottom-right, bottom-left) */
}

.floorTilesMiddle{
    width:46.5845%;
    left: 26.7064%;
    border-radius: 10px;
}

.floorTilesRight{
    right:0px;
    border-radius: 10px 0px 0px 10px;
}


/*////HALLWAY HORIZONTAL - PILLARS */

/* PILLARS - BIG PILLARS CONTAINER */
.pillarsBigContainer{
    background-color: transparent;
    height: 78.8732%;
    width:100%;
    position:absolute;
    left:0px;
    top:3.489%;
    z-index:4;
    color:white;
}

/* PILLARS - ONE PILLAR MODULE */
.pillarContainer{
    background-color: transparent;
    height:100%;
    width:7.828%;
    position:absolute;
    left:0px;
    top:0px;
}

/* PILLARS FROM LEFT TO RIGHT */
.pillar1{
    left: -3.90657%;
}

.pillar2{
    left:calc(100%/3 - 3.90657%);
}

.pillar3{
    left:calc(2*(100%/3) - 3.90657%);
}

.pillar4{
    left:calc(100% - 3.90657%) ;
}



/* PILLAR - VERTICAL PART */
.pillarVertical{
    background-color: var(--white);
    border-left:var(--borderOutline)solid black;
    border-right:var(--borderOutline)solid black;
    height:55.5668%;
    width:48.563%;
    position:absolute;
    left:25.616%;
    top:0px;
    
}

.pillarVerticalSquare{
    background-color: var(--orange);
    border:var(--borderOutline)solid black;
    height:29.507%;
    width:125.1906%;
    position:absolute;
    left:-12.5953%;
    top:0px;
}

.pillarVerticalRectangle{
    background-color: transparent;
    border:var(--borderOutline)solid black;
    /* box-shadow: 0 0 0 var(--roundedCornerBorderOutline)  black; */
    height:37.957%;
    width:calc(58.997%/2);
    position:absolute;
    right:calc(0px - var(--borderOutline));
    bottom:13.837%;
    border-radius: 5px 0px 0px 5px;
}

.pillarVerticalRectangleLeft{
    left:calc(0px - var(--borderOutline));
    border-radius: 0px 5px 5px 0px;
}

/* PILLAR - LINK */
.pillarLink{
    background-color: var(--orange);
    border-right:var(--borderOutline)solid black;
    border-left:var(--borderOutline)solid black;
    border-bottom:var(--borderOutline)solid black;
    height:8.32093%;
    width:50.906%;
    position:absolute;
    left:24.537%;
    top:55.5668%;
}

.pillarLinkTop{
    background-color: var(--orange);
    border:var(--borderOutline)solid black;
    height:42.2747%;
    width:119.4287%;
    position:absolute;
    left:-9.70781%;
    top:0px;
}

.pillarLinkBottomMask{
    background-color: var(--white);
    border-top:var(--borderOutline)solid black;
    border-right:var(--borderOutline)solid black;
    border-left:var(--borderOutline)solid black;
    height:36.5017%;
    width:43.798%;
    position:absolute;
    left:28.095%;
    bottom:calc(0px - var(--borderOutline));;
}

/* PILLAR - TRAPEZOID PART */


.pillarTrapezoidBorder{
    border-bottom:10.5vw solid black;
    border-right:2vw solid transparent;
    border-left:2vw solid transparent;
    width: 100%;
    position:absolute;
    left:0px;
    bottom:0px;
    z-index:-1;
}
/* adjustment for left hallway pillars since the borders won't show up */
.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar1 .pillarTrapezoidBorder{
    left: calc(1*var(--borderOutline)/2);
}

.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar2 .pillarTrapezoidBorder{
    left: calc(-0.5*var(--borderOutline));
    width: calc(100% + var(--borderOutline)/2);
}

.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar3 .pillarTrapezoidBorder{
    left: calc(0.1*var(--borderOutline));
    width: calc(100% + var(--borderOutline)/2);
}

.pillarTrapezoid{
    border-bottom:10.5vw solid var(--white);
    border-right:2vw solid transparent;
    border-left:2vw solid transparent;
    /* width: 48.7754%; */
    width: calc(100% - var(--borderOutline)/2 - var(--borderOutline)/2);
    position:absolute;
    left:calc(var(--borderOutline)/2);
    /* bottom:calc(var(--borderOutline)/2); */
    bottom:calc(var(--borderOutline)/2);
    z-index:-1;
}


.pillarTrapezoidFloor{
    border-bottom:2vw solid var(--indigo);
    border-right:0.5vw solid transparent;
    border-left:0.5vw solid transparent;
    width: 113%;
    position:absolute;
    left:calc(0px - 6.5%);
    bottom:-1.2%;
    z-index:-2;
}

.pillarTrapezoidLineRectangle{
    border-top:var(--borderOutline)solid black;
    height:4.8033%;
    width:70.253%;
    position:absolute;
    bottom:16.9146%;
    left:14.7777%;
    z-index: 1;
}

/* left hallway pillars adjustment */
.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar3 .pillarTrapezoidLineRectangle{
    width:70.355%;
}

.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar1 .pillarTrapezoidLineRectangle{
    width:70.355%;
}

.hallwayHorizontal.hallwayHorizontalLeft .pillarContainer.pillar4 .pillarTrapezoidLineRectangle{
    left: calc(14*var(--borderOutline));
}



.pillarTrapezoidLineMask{
    background-color: white;
    border:var(--borderOutline)solid black;
    border-top-width: 0px;
    height:4.8033%;
    width:42.2168%;
    position:absolute;
    bottom:calc(16.6% + var(--borderOutline));
    left:28.885%;
    z-index: 2;
}

.pillarTrapezoidVerticalLine{
    border-left:var(--borderOutline)solid black;
    height:29.7047%;
    position:absolute;
    bottom:9.41815%;
    left:49.9872%;
    z-index: 3;
}

.pillarTrapezoidLight{
    background-color: var(--cyan);
    border:var(--borderOutline)solid var(--darkerCyan);
    border-radius: 4px;
    height:4.799703%;
    width: 50.8946%;
    position: absolute;
    left:24.5374%;
    bottom:5.3391%;
    z-index:4;
    box-shadow: 0px 0px 20px 2px #8bd4e2;

}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////// LIBRARY /////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#library{
    /* background-color:teal;  */
    border: var(--borderOutlineRooms) solid black;
    flex: 3; 
    height: 100%;
    position:relative;
    overflow:hidden;
}

/* library room - image */
#libraryImage{
    width: 100%;
    height: 100%;
    position:absolute;
    left:0;
    top:0;
}

/* library light container */
#libraryGlow{
    border-radius: 100%;
    height: calc((832/664)*100%);
    width: calc((832/1503)*100%);
    position: absolute;
    bottom: calc((164/664)*100%);
    left: 50%;
    transform: translateX(-50%);
}


#libraryGlow img{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
}

/* library light image */
#libraryBlueLight{
    z-index:3;
}

/* library light glowing part  */
#libraryBlur{
    filter: blur(15px);
    z-index:2;
}

/* library book that leads to The Great Silence Website */
#libraryBookImage{
    width:100%;
    height:100%;
}

@keyframes float{
    0%{
        transform: translate(-50%,-25%);
        
    }
    50%{
        transform: translate(-50%, -15%);
    }
    100%{
        transform: translate(-50%, -25%);

    }
}

#libraryBook{
    position:absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-25%);
    animation: float 3s ease-in-out infinite;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////// WELCOME ROOM /////////////////////////////////////////////////////////////////////////////////////////////////////
 */
#welcomeRoom{
    /* background-color: rgb(211, 80, 57); */
    border: var(--borderOutlineRooms) solid black;
    flex: 2.7;
    /* width: 20%; */
    height: 105%;
    position:relative;
    z-index:3;
    overflow: hidden;
}

/* scale all svg to 100% of parent */
#welcomeRoom img{
    width:100%;
    height:100%;
}

/* container that holds the blue screen */
.welcomeRoomLightContainer{
    /* background: green; */
    width:calc((912/1351)*100%);
    height:calc((665/697)*100%);
    position: absolute;
        top: 50%;
        left: 50%;
    transform: translate(-50%,-50%);
}

/* BLUE SCREEN  */
#welcomeRoomBlueScreen{
    position: absolute;
        top:0;
        left:0;
}

/* blue screen blur */
#welcomeRoomBlur{
    position: absolute;
        top:0;
        left:0;
    filter: blur(20px);
}

/* blue screen light strip */
#welcomeRoomLightStrip{
    position: absolute;
        top:0;
        left:0;
}

/* welcome room - plants */
#welcomeRoomPlantsContainer{
    width:calc((1133/1351)*100%);
    height:calc((306/697)*100%);
    position:absolute;
        bottom:-10%;
        left:50%;
            transform: translateX(-50%);
}


/* INFROMATION ON BLUE SCREEN  */
.welcomeRoomInformation{
    /* background: purple; */
    width: 80%;
    height: 80%;
    position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
    padding-top:5%;
}




/* INFROMATION 1 */

/* buttons */
.welcomeRoomButtonContainer{
    width: 100%;
    /* background: green; */
    height: 40%;
    position:absolute;
        bottom:10%;
        left:0;
}

.welcomeRoomButtons{
     background-color: transparent;
        border:calc(var(--borderOutlineCockpit)*3) solid var(--indigo);
        border-radius:2vw;
    margin:auto;
    cursor:pointer;
    transition-duration: 0.2s;
    width: 30%;
    height: 40%;
    color: var(--indigo);
}


.welcomeRoomButtons:hover{
    background-color: var(--indigo);
    color:var(--white);
}

.welcomeRoomButtons#launch{
    position:absolute;
    top:0;
    left:50%;
    transform: translateX(-50%);
}

.welcomeRoomButtons.leave{
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}


/* INFROMATION 2 */

#welcomeRoomInformation2{
    display: none;
}

#departing{
    padding-bottom:1.5em;
}


/* INFROMATION 3 */

#welcomeRoomInformation3{
    display: none;
}

/* signs */
#welcomeRoomSignage{
    /* background-color: green; */
    margin-top:5%;
    width: 40%;
    height: 20%;
    position: absolute;
        top: 25%;
        left:50%;
        transform: translateX(-50%);
}

#librarySignContainer{
    /* background-color: black; */
    width: 100%;
    height:45%;
    position: absolute;
        top:0;
        left:0;
}

#cockpitSignContainer{
    /* background-color: darkcyan; */
    width: 100%;
    height:45%;
    position: absolute;
    bottom:0;
    left:0;
}

/* arrows */
.welcomeRoomSignageArrow{
    /* background-color: white; */
    width: 30%;
    height: 100%;
    position:absolute;
        left:0;
        top:0;
}

.arrowHorizontal{
    background-color: var(--indigo);
    width:100%;
    height: 20%;
    position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
}

.arrowPointTriangle{
    /* width: 1vw;
    height: 1vw; */
    border-right: 1.2vw solid  var(--indigo);
    border-bottom: 1.2vw solid transparent;
    border-top: 1.2vw solid transparent;
    position:absolute;
        left:-12%;
        top:50%;
        transform:translateY(-50%);
}

.arrowPointTriangleLeft{
    /* width: 1vw;
    height: 1vw; */
    border-left: 1.2vw solid  var(--indigo);
    border-bottom: 1.2vw solid transparent;
    border-top: 1.2vw solid transparent;
    position:absolute;
        right:-12%;
        top:50%;
        transform:translateY(-50%);
}

/* text */
.welcomeRoomSignageText{
    /* background-color: green; */
    width: 70%;
    position:absolute;
        right:-10%;
        top:50%;
        transform:translateY(-50%);
    text-align: left;
}





.paragraphStyle1{
    font-size:1em;
}


.headingStyle1{
    font-size:12em;
    font-weight: bold;
    color: var(--indigo);
}

.headingStyle2{
    font-size:3em;
    font-weight: bold;
    color: var(--indigo);
}

.headingStyle3{
    font-size:2em;
    font-weight: bold;
    color: var(--indigo);
}


br{
    content:"";
    display:block;
    margin:2em;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////// COCKPIT /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#cockpit{
    background-color: transparent;
    border: var(--borderOutlineRooms) solid black;
    flex: 3;
    height: 100%;
    color:var(--white);
    position:relative;
    overflow: hidden;
}

/* ///// COCKPIT - NEXT DESTINATION PANEL //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////*/
#nextDestinationPanelBigContainer{
    /* background-color: purple; */
    height:59.741%;
    width: 38.953%;
    position:absolute;  
        left: 50%;
        top: 6.7567%;
        transform: translateX(-50%);
}

#nextDestinationPanelContainer{
    background-color: rgba(78,198,224,0.3);
        border:calc(var(--borderOutlineCockpit)*1.5) solid var(--cyan);
        border-radius: 1vw;
    height: calc((122/125)*100%);
    width: 100%;
    position:absolute;  
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    box-shadow: 0px 0px 10px 3px rgba(78,198,224,0.3);
    mix-blend-mode: overlay;
}

#nextDestinationRectangleUI{
    background-color: var(--transparentBlue);
        border:calc(var(--borderOutlineCockpit)*1.5) solid var(--cyan);
        border-radius: 1vw;
    /* width:94.144%; */
    width: calc((174/185)*100%);
    height: calc((113/122)*100%);
    position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
}

/* content container */
#nextDestinationContentContainer{
    /* background-color: purple; */
    /* width: calc((123/174)*100%); */
    height: 100%;
    width: 90%;
    position:absolute;
        left:50%;
        top:0;
        transform: translateX(-50%);
}

/* next destination text */
#nextDestinationTextContainer{
    /* background-color: black; */
    color:var(--cyan);
        font-weight: bold;
        font-size: 1.7em;
    height: calc((12/113)*100%);
    width:100%;
    position:absolute;
        left:50%;
        top:0;
        transform: translateX(-50%);
}

#nextDestinationText{
    position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
}




/* SLIDER */
#nextDestination-arrowsSlider{
     /* background-color: darkblue; */
    width: 100%;
    height: calc((81/113)*100%);
    position:absolute;
        left:50%;
        bottom:calc((21/113)*100%);
        transform: translateX(-50%);
}

/* parent of content inside the slider */
#nextDestinationSlider{
     /* background-color: purple; */
     width:70%;
     height:100%;
     margin:0px auto;

     overflow:hidden;
     position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
}

#nextDestinationSlider img{
    width: 100%;
    height: 100%;
}

.sliderContent{
    /* background-color: var(--indigo); */
    height:16vw;
    /* set the slider content to display as side by side blocks (rows), instead of columns */
    display:inline-block;

    /* background-color: darkcyan; */
    margin: 0.3vw 4vw;
}

.slick-track{
    margin:auto;
}

/* slider - arrows outline */
.nextDestinationSliderArrowOutline{
    border-top: calc(2vw + var(--borderOutlineCockpit)*2) solid transparent;
    border-bottom: calc(2vw + var(--borderOutlineCockpit)*2) solid transparent;
    position:absolute;
        top: 50%;
        transform: translateY(-50%);
    cursor: pointer;
    border-radius: 3%;
}

#arrowLeftOutline{
    border-right: calc(2vw + var(--borderOutlineCockpit)*2) solid var(--cyan);
    left: calc(5% - var(--borderOutlineCockpit));
}

#arrowRightOutline{
    border-left: calc(2vw + var(--borderOutlineCockpit)*2) solid var(--cyan);
    right: calc(5% - var(--borderOutlineCockpit)*1.5);
}


/* slider - arrows */
.nextDestinationSliderArrow{
    border-top: 2vw solid transparent;
    border-bottom: 2vw solid transparent;
    position:absolute;
        top: 50%;
        transform: translateY(-50%);
    cursor: pointer;
    border-radius: 3%;
    transition: ease-out 0.3s;
}

#arrowLeft{
    border-right: 2vw solid rgb(30, 61, 113);
    left: 5%;
}

#arrowLeft:hover{
    border-right: 2vw solid var(--cyan);
}

#arrowRight{
    border-left: 2vw solid rgb(30, 61, 113);
    right: 5%;
}

#arrowRight:hover{
    border-left: 2vw solid var(--cyan);
}







/* GO BUTTON */
#nextDestinationGoButtonContainer{
    /* background-color: darkcyan; */
    height:calc((21/113)*100%);
    width:100%;
    position:absolute;
        left:50%;
        bottom:0;
        transform: translateX(-50%);
}

/* Go buttons stationary slider wrapper */
#nextDestination-stationarySlider{
    /* background: purple; */
    width: 30%;
        position:absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
}

.stationarySliderContent{
    /* background-color: black; */
    height: 4vw;
    display:inline-block;
}


/* Go buttons stlying */
.nextDestinationGoButton{
    background-color: transparent;
        border:calc(var(--borderOutlineCockpit)*1.5) solid var(--cyan);
        border-radius: 2vw;
        font-weight: bolder;
        font-size:2em;
        color:var(--cyan);
    padding: 0.5% 20%;
    position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
    cursor:pointer;
    transition: ease-out 0.4s;
}

.nextDestinationGoButton:hover{
    background-color: var(--cyan);
    color:var(--white);
}

/* trapezoid projector thingy */
#nextDestinationPanelProjector{
    background-color: var(--grey);
        border: var(--borderOutlineCockpit) solid var(--indigo);
    width:97%;
    height: calc((3/125)*100%);
    position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
}


/* ///// COCKPIT - CONTROL PANEL PART A //////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////*/
#controlPanelABigContainer{
    /* background-color: purple; */
    width: 82.643%;
    height:23.8%;
    position:absolute;
        bottom:7.4324%;
        left:50%;
        transform: translateX(-50%);
    z-index:3;
}

/* TRAPEZOID BASE */
#controlPanelTrapezoidOutline{
    border-bottom: 7.5vw solid var(--indigo);
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
    width:100%;
    /* height:calc((34/50)*100%); */
    position: absolute;
        top:0;
        left:50%;
    transform: translateX(-50%)
}

#controlPanelTrapezoid{
    border-bottom: calc(7.5vw - var(--borderOutlineCockpit)*2) solid var(--grey);
    border-right: 2vw solid transparent;
    border-left: 2vw solid transparent;
    width: calc(100% - var(--borderOutlineCockpit)*2);
    /* height:calc((34/50)*100%); */
    position: absolute;
        top:var(--borderOutlineCockpit);
        left:50%;
    transform: translateX(-50%)
}


/* CONTROLS ON THE TRAPEZOID - CONTAINER - ONE MODULE */
.controlContainerModule{
    /* background-color: darkcyan;  */
    height: calc(7.5vw);
    /* width:calc(((111/392)*100%)/3); */
    width:calc(((116.45/392)*100%)/3);
    position:absolute;
        left:1.8%;
        top: 0;
}

.controlContainerModule.leftSide.Left{
    left:1.8%;
    transform:skew(-15deg);
}

.controlContainerModule.leftSide.Center{
    left: calc(1.8% + ((116.45/392)*100%)/3);
    border-left: var(--borderOutlineCockpit) solid var(--indigo);
    border-right: var(--borderOutlineCockpit) solid var(--indigo);
    transform: skew(-15deg);
}

.controlContainerModule.leftSide.Right{
    left: calc(1.8% + 2*((116.45/392)*100%)/3);
    border:none;
    transform:skew(-15deg);
}

.controlContainerModule.rightSide.Right{
    left: calc(100% - 1.8% - 9.9%);
    transform:skew(15deg);
}

.controlContainerModule.rightSide.Center{
    left: calc(100% - 1.8% - 2*(9.9%));
    border-left: var(--borderOutlineCockpit) solid var(--indigo);
    border-right: var(--borderOutlineCockpit) solid var(--indigo);
    transform:skew(15deg);
}

.controlContainerModule.rightSide.Left{
    left: calc(100% - 1.8% - 3*(9.9%));
    transform:skew(15deg);
}


.controlPanelWrapper{
    height:calc((27/35)*100%); 
    width: calc((32/40)*100%);
    /* background-color: green; */
    position:absolute; 
        left:50%;
        top: 50%;
        transform: translate(-50%,-50%);
}

.controlPanel{
    border: var(--borderOutlineCockpit) solid var(--darkerCyan);
    background-color: var(--cyan);
    width:100%;
    height:calc(100%/6*4.5);
    position:absolute;
        top:0;
        left:0;
}

.controlPanel::after{
    content:"";
    border: var(--borderOutlineCockpit) solid var(--darkerCyan);
    background-color: var(--cyan);
    filter: blur(20px);
    width:100%;
    height:calc(100%/6*4.5);
    position:absolute;
        top:0;
        left:0;
}

.controlButtonWrapper{
    /* background-color: purple; */
    width:100%;
    height:calc(100%/6);
    position:absolute;
        bottom:0;
        left:0;
}

.controlButton{
    border: var(--borderOutlineCockpit) solid var(--indigo);
    background-color: var(--red);
    width: calc(100%/11*3);
    height: 100%;
    position:absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
}

.controlButton.center{
    left: calc(100%/11*4)
}

.controlButton.right{
    left: calc(100% - (100%/11*3));
}





/* BOTTOM PART OF TRAPEZOID CONTROL PANEL - DEPTH */
#controlPanelRectangle{
    background-color: var(--indigo);
    border-bottom: var(--borderOutlineCockpit) solid var(--grey);
    width:100%;
    height: calc((16/50)*100%);
    position: absolute;
        bottom:0;
    z-index:-1;
}





/* ////////BIG CONTROL PANEL CONTAINER ////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#bigControlPanelContainer{
    /* background-color: purple; */
    height: calc((70/209)*100%);
    width: calc((152/474)*100%);
    position: absolute;
        left: 50%;
        bottom:0;
        transform: translateX(-50%);
    z-index:4;
}

/* big control panel trapezoid */
#bigControlPanelTrapezoidOutline{
    border-bottom:14vw solid var(--indigo);
    border-left:1.5vw solid transparent;
    border-right:1.5vw solid transparent;
    width:100%;
    position:absolute;
        top:0;
        left:0;
}

#bigControlPanelTrapezoid{
    border-bottom:14vw solid var(--grey);
    border-left:1.5vw solid transparent;
    border-right:1.5vw solid transparent;   
    width: calc(100% - var(--borderOutlineCockpit) - var(--borderOutlineCockpit));
    position:absolute;
        top:0;
        left:calc(var(--borderOutlineCockpit));
}

/* control panel buttons */
#bigControlPanelButtonsContainer{
    /* background-color: green; */
    height:calc((14.59/70)*100%);
    width: calc((111.01/151.77)*100%);
    position:absolute;
        top:0;
        left:50%;
        transform: translateX(-50%);
}

.circleButtons{
    background-color: var(--red);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    height:calc((10.24/14.59)*100%);
    width:calc((10.24/111.01)*100%);
    border-radius: 100%;
    position:absolute;
        top:50%;
        left:0;
        transform: translateY(-50%);
}

#circleButtonsLeft2{
    left: 15%;
}

#circleButtonsRight1{
    left: calc(100% - 9%);
}

#circleButtonsRight2{
    left: calc(100% - 24%);
}

.rectangleButton{
    background-color: var(--orange);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    height: calc((7/14.59)*100%);
    width: calc((40/111.01)*100%);
    position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
}

/* control panel display */
#bigControlPanelDisplayOutline{
    border-bottom:7.1vw solid var(--darkerCyan);
    border-left:0.8vw solid transparent;
    border-right:0.8vw solid transparent;
    width:calc((130.01/151.78)*100%);
    position:absolute;
        top: calc((19.82/70)*100%);
        left: calc((10.88/152)*100%);
}

#bigControlPanelDisplayOutline::after{
    content:"";
    border-bottom:7.1vw solid var(--darkerCyan);
    border-left:0.8vw solid transparent;
    border-right:0.8vw solid transparent;
    width:calc((130.01/151.78)*100%);
    position:absolute;
        top: calc((19.82/70)*100%);
        left: calc((10.88/152)*100%);
    /* glow effect for trapezoid */
    filter: blur(50px);
}

#bigControlPanelDisplay{
    border-bottom:calc(7.1vw - var(--borderOutlineCockpit) - var(--borderOutlineCockpit)) solid var(--cyan);
    border-left:0.8vw solid transparent;
    border-right:0.8vw solid transparent;
    width:calc((130.01/151.78)*100% - var(--borderOutlineCockpit) - var(--borderOutlineCockpit));
    position:absolute;
        top: calc((19.82/70)*100% + var(--borderOutlineCockpit));
        left: calc((10.88/152)*100% + var(--borderOutline));
}


/* big control panel display line - horizontal */
.bigControlPanelDisplayLine{
    border-top: var(--borderOutlineCockpit) solid var(--darkerCyan) ;
    width:101.5%;
    position:absolute;
        top: calc(7.1vw/5);
        left:calc(50% + var(--borderOutlineCockpit));
        transform: translateX(calc(-50% - var(--borderOutlineCockpit)));
}

#bigControlPanelDisplayLine2{
    top: calc(7.1vw/5*2);
    width:103%;
}

#bigControlPanelDisplayLine3{
    top: calc(7.1vw/5*3);
    width:104.5%;
}

#bigControlPanelDisplayLine4{
    top: calc(7.1vw/5*4);
    width:105.5%;
}


/* big control panel display line - vertical */
.bigControlPanelDisplayLineVertical{
    border-left: var(--borderOutlineCockpit) solid var(--darkerCyan);
    height: 6.9vw;
    position:absolute;
        top: calc((19.82/70)*100% + var(--borderOutlineCockpit));
        left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11);
    transform: rotate(5deg);
}

#bigControlPanelDisplayLineVertical2{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*2);
}

#bigControlPanelDisplayLineVertical3{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*3);
    transform: rotate(4deg);
}

#bigControlPanelDisplayLineVertical4{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*4);
    transform: rotate(3deg);
}


#bigControlPanelDisplayLineVertical5{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*5);
    transform: rotate(2deg);
}

#bigControlPanelDisplayLineVertical6{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*6);
    transform: rotate(-2deg);
}

#bigControlPanelDisplayLineVertical7{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*7);
    transform: rotate(-3deg);
}

#bigControlPanelDisplayLineVertical8{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*8);
    transform: rotate(-4deg);
}

#bigControlPanelDisplayLineVertical9{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*9);
    transform: rotate(-5deg);
}

#bigControlPanelDisplayLineVertical10{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/11*10);
    transform: rotate(-5deg);
}

#bigControlPanelDisplayLineVertical11{
    left: calc((10.88/152)*100% + ((130.01/151.78)*100%)/12*11);
    transform: rotate(-5deg);
}


/* rectangle underneath the big control panel */
#bigControlPanelRectangle{
    background-color: var(--grey);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    width:100%;
    height:calc((8.7/70)*100%);
    position: absolute;
        bottom:0;
        left:0;
}



/* //////// COCKPIT FLOOR ////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#cockpitFloor{
    background-color: var(--grey);
    width: calc((439.44/474.46)*100%);
    height: calc((15.53/208.94)*100% + var(--borderOutlineCockpit));
    position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%); 
}

#cockpitFloorDarkShade{
    background-color: var(--indigo);
    width: calc((406.56/474.46)*100%);
    height:calc(100% - var(--borderOutlineCockpit));
    position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
}


/* //////// ORANGE SIDE CONTROLS  ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.sideControlContainer{
    background-color: green;
    width: calc((55.14/474.46)*100%);
    height: calc((17.33/208.94)*100%);
    position: absolute;
    z-index:3;
}

.sideControlContainer.left{
    bottom: calc((8.67/208.94)*100%*(-1));
    left: 0;
    transform: rotate(-26.5deg);
    transform-origin: 0% 100%;
}

.sideControlContainer.right{
    bottom: calc((8.67/208.94)*100%*(-1));
    left: calc(100% - 11.622%);
    transform: rotate(26.5deg);
    transform-origin: 100% 100%;
}

.sideControlBar{
    background-color: var(--orange);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    width:100%;
    height:100%;
    position:absolute; 
        bottom:0;
        left:0;
}

.sideControl{
    background-color: var(--cyan);
    border: var(--borderOutlineCockpit) solid var(--darkerCyan);
    width: calc((30.65/51.14)*100%);
    height: calc((11.13/17.33)*100%);
    position:absolute;
        right: 10%;
        top:50%;
        transform: translateY(-50%);
}

.sideControl.right{
    left:10%;
}

.sideControl::after{
    content: "";
    background-color: var(--cyan);
    border: var(--borderOutlineCockpit) solid var(--darkerCyan);
    width: 100%;
    height: 100%;
    position:absolute;
        right: 10%;
        top:50%;
        transform: translateY(-50%);
    filter: blur(20px);
}

.sideControlLineHorizontal{
    border-top: var(--borderOutlineCockpit) solid var(--darkerCyan);
    width:101%;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
    z-index:3;
}

.sideControlLineVertical{
    border-left: var(--borderOutlineCockpit) solid var(--darkerCyan);
    height: 100%;
    z-index:3;
}

.sideControlLineVertical.left{
    position:absolute;
        top:0;
        left: 25%;
}

.sideControlLineVertical.center{
    position:absolute;
        top:0;
        left: 50%;
}

.sideControlLineVertical.right{
    position:absolute;
        top:0;
        left: 75%;
}



/* //////// ORANGE LIGHTS ON WINDSHIELD  ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.windShieldBarContainer{
    /* background-color: green; */
    width: calc((163.91/474.46)*100%);
    height: calc((17.56/208.94)*100%);
    position:absolute;
        top: calc((-17.56/208.94) *100%);
        left:0;
    transform: rotate(70.6deg);
    transform-origin: 0% 100%;
    z-index:2;
}


.windShieldBarContainer.left{
    transform: rotate(70.6deg);
    transform-origin: 0% 100%;
}

.windShieldBarContainer.right{
    left:100%;
    transform: scaleX(-1) rotate(-289.4deg);
    transform-origin: 0% 100%;

}


.windShieldBar{
    background-color: var(--orange);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    width:calc((163.91/163.91)*100%);
    height: calc((14.35/17.56)*100%);
    position: absolute;
        bottom:0;
        left:0;

}

.windShieldBarLightOutline{
   border-top: 2vw solid var(--darkerCyan);
   border-right: 1.5vw solid transparent;
   border-left: 1.5vw solid transparent;
   width: 69.32%;
   position:absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%);
}



.windShieldBarLight{
    border-top: calc(2vw - var(--borderOutlineCockpit)*2) solid var(--cyan);
    border-right: 1.3vw solid transparent;
    border-left: 1.3vw solid transparent;
    width: calc(69.32% - var(--borderOutlineCockpit)*4);
    position:absolute;
        top:var(--borderOutlineCockpit);
        left: 50%;
        transform: translateX(-50%);
}

.windShieldBarLight::after{
    content: "";
    border-top: calc(2vw - var(--borderOutlineCockpit)*2) solid var(--cyan);
    border-right: 1.3vw solid transparent;
    border-left: 1.3vw solid transparent;
    width: calc(69.32% - var(--borderOutlineCockpit)*4);
    position:absolute;
        top:-20%;
        left: 50%;
        transform: translateX(-50%);
    filter: blur(30px);
}


/* //////// STEERING WHEEL  ////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.steeringWheel{
    /* background-color: green; */
    width: calc((100.33/474.46)*100%);
    height: calc((60.53/208.94)*100%);
    position:absolute;
        bottom:0;
        left: calc((62.59/474.46)*100%);
    z-index:5;
}

.steeringWheel.right{
    left: calc((311.56/474.46)*100%);
}

/* STEERING WHEEL STEM */
.steeringWheelStem{
    background-color: var(--grey);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    border-bottom: none;
    width: calc((13.65/100.33)*100%);
    height: calc((55.04/60.53)*100%);
    position:absolute;
        bottom:0;
        left:50%;
        transform: translateX(-50%);
}

/* TOP PART */
.steeringWheelTopContainer{
    /* background-color: purple; */
    width: 100%;
    height: calc((39.98/60.53)*100%);
    position: absolute;
        left:0;
        top:0;
}

.steeringWheelCenterPartOutline{
    border-bottom: 7vw solid var(--indigo);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: 36.23%;
    position:absolute;
        top:0;
        left:31.88%;
}

.steeringWheelCenterPart{
    border-bottom: calc(7vw - var(--borderOutlineCockpit)*2) solid var(--orange);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: calc(36.23% - var(--borderOutlineCockpit)*2);
    position:absolute;
        top:var(--borderOutlineCockpit);
        left: calc(31.88% + var(--borderOutlineCockpit));      
}

.steeringWheelInnerPartOutline{
    border-bottom: 7vw solid var(--indigo);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: 26.86%;
    position:absolute;
        top:0;
        left:36.569%    
}

.steeringWheelInnerPart{
    border-bottom: calc(7vw - 2*var(--borderOutlineCockpit)) solid var(--red);
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    width: calc(26.86% - (var(--borderOutlineCockpit)*2));
    position:absolute;
        top:var(--borderOutlineCockpit);;
        left: calc(36.569% + var(--borderOutlineCockpit));
}

.steeringWheelInnerPartLines{
    border-top: var(--borderOutlineCockpit) solid var(--indigo);
    position: absolute;
        left:50%;
        transform: translateX(-50%);
}

.steeringWheelInnerPartLines.line1{
    width:18%;
        top:8%;
}

.steeringWheelInnerPartLines.line2{
    width:19%;
        top:16%;
}

.steeringWheelInnerPartLines.line3{
    width:20%;
        top:24%;
}

.steeringWheelInnerPartLines.line4{
    width:20%;
        top:32%;
}

.steeringWheelInnerPartLines.line5{
    width:21%;
        top:40%;
}

.steeringWheelInnerPartLines.line6{
    width:22%;
        top:48%;
}

.steeringWheelInnerPartLines.line7{
    width:23%;
        top:56%;
}

.steeringWheelInnerPartLines.line8{
    width:24%;
        top:64%;
}

.steeringWheelInnerPartLines.line9{
    width:25%;
        top:72%;
}


/* STEERING WHEEL HANDLE */
.steeringWheelHandleContainer{
    /* background-color: green; */
    width: 50%;
    height: 100%;
    position:absolute;
        left:0;
        top:0;
    z-index: -1;
}

.steeringWheelHandleContainer.right{
    left:50%;
    transform: scaleX(-1);
}

.steeringWheelHandle1{
    background-color: var(--beige);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    width:20%;
    height:100%;
    border-radius: 2vw;
    transform: rotate(-18deg);
    position:absolute;
        top:-17.5%;
        left: 15%;
    z-index: 3;
}

.steeringWheelHandle2{
    background-color: var(--beige);
    border: var(--borderOutlineCockpit) solid var(--indigo);
    width:20%;
    height:100%;
    border-radius: 2vw;
    transform: rotate(59deg);
    position:absolute;
        top: -1.5%;
        left: 50%;
    z-index:2;
}

.steeringWheelHandleMask{
    background-color: var(--beige);
    width: calc(20.5% - var(--borderOutlineCockpit)*2);
    height: 26%;
    /* border-radius: 2vw; */
    transform: rotate(59deg);
    position: absolute;
    bottom: 27%;
    left: 36%;
    z-index: 3;
}






/* ////////////////////
////////LAB/////////// */
#lab{
    background-color: rgb(230, 233, 57);
    width: 20%;
    /* height: 100%; */
    flex: 1;
}


#welcomeScreen{
    background-color: white;
    width:70%;
    height:70%;
    position:absolute;
        left:50%;
        top:50%;
    transform: translate(-50%,-50%); /*this is to pull the rectangle back to the center. Position is based on the top left corner of the rectangle*/
    
   

}





































/*

///////////////NOTES//////////////////

HIEARCHY:;
IDs
Classes
Generic elements

IDs overrule classes, classes overrule generic elements



SOME CSS MEASUREMENTS (from https://www.w3schools.com/cssref/css_units.asp)

em - relative to the parent element's font size
ex - relative to x-height of the current font (the parent?)
vw - relative to 1% of the width of the viewport (the browser window size)
vh - relative to 1% of the height of the viewport
% - relative to the parent element





////////////SOURCES/////////

POSITIONING IN CSS
https://medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e

CSS SHAPES:
https://css-tricks.com/the-shapes-of-css/#trapezoid-shape

SKEWING RECTANGLE INTO A TRAPEZOID
https://stackoverflow.com/questions/23177903/css-transform-to-skew-the-shape-to-a-trapezium


ADDING/SUBTRACTING VALUES IN CSS
https://stackoverflow.com/questions/8643401/is-there-a-way-to-add-and-subtract-values-in-css


ROUNDED CORNERS OUTLINE USING BOX SHADOWS
https://stackoverflow.com/questions/5394116/outline-radius


USING CSS VARIABLES TO CHANGE BORDER VALUES MORE EFFICIENTLY
https://www.w3schools.com/css/css3_variables.asp


GLOW EFFECT FOR TRAPEZOID
https://stackoverflow.com/questions/54436650/adding-shadow-to-trapezoid


REMOVE BORDER THAT SHOWS UP WHEN CLICKING THE BUTTON
https://stackoverflow.com/questions/19886843/how-to-remove-outline-border-from-input-button


CSS FLOATING ANIMATION
https://codepen.io/MarioDesigns/pen/woJgeo


ADD A CLICKABLE LINK TO AN IMAGE
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_image

*/



