@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Lexend+Mega&family=Space+Mono:ital,wght@0,700;1,400&display=swap');


:root{
    /* COLOURS */
    --orange:#f6892f;
    --red:#db3e2d;
    --beige:#e3e1d4;
    --cyan:#6dcde4;
    --darkerCyan:#00aeef;
    --indigo:#052f45;
    --grey:#3e5960;
    --white:white;
    --backgroundColor: rgb(9,2,64);
    --transparentBlue: rgba(78,198,224,0);
}


*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}


html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

.headingStyle{
    font-family: 'IBM Plex Mono', 'Space Mono', 'Courier New', Courier, monospace;
    color: black;
    font-size:2em;
    line-height: 1.4;
    letter-spacing: .04em; 
    font-weight:bold;
    text-align: center;
}

.paragraphStyle{
    font-family: 'IBM Plex Mono', 'Space Mono', 'Courier New', Courier, monospace;
    color: black;
    font-size: 0.7em;
    text-align: center;
}

#myCanvas{
    position:relative;
    display: block;
    z-index: 100;
}



#canvasPlatformSymbol{
    width: calc(100vw/12);
    height: calc(100vw/12);
    /* background-color: darkcyan; */
    z-index:150;
    position:absolute;
        bottom:0%;
        left:50%;
        transform: translateX(-50%);
    cursor:pointer;

}

img{
    width:100%;
    height: 100%;
}


#centerContainer{
    position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}


/* SOURCE
make html canvas full size
https://stackoverflow.com/questions/4288253/html5-canvas-100-width-height-of-viewport */